.header-container{
    display: flex;
    justify-content: center;
    height: 100px;
    width:100%;
    background-color: black;
}

.header-logo{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100px;
}