.footer-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}
.footer-container div{
    display: flex;
    /* justify-content: space-evenly; */
    width: 10%;
    flex-direction: column;
    flex-wrap: wrap;
}