<div class="footer-container">
  <div>
    <img src="">
  </div>
    <div class="footer-child-class">
        <h4>Privacy Policy</h4>
        <p>Privacy Policy</p>
        <p>Terms of State</p>
        <p>Terms of Use</p>
        <p>Report Abuse & Take down policy</p>
        <p>CSR Policy</p>
    </div>  
    <div class="footer-child-class">
        <h4>Company</h4>
        <p>Privacy Policy</p>
        <p>Terms of State</p>
        <p>Terms of Use</p>
        <p>CSR Policy</p>
    </div>
    <div class="footer-child-class">
        <h4>Business</h4>
        <p>Privacy Policy</p>
        <p>Terms of State</p>
        <p>Terms of Use</p>
        <p>CSR Policy</p>
    </div>
    <div class="footer-child-class">
        <h4>Need Help?</h4>
        <p>Privacy Policy</p>
        <p>Terms of State</p>
    </div>  
</div>