.color-container{
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap:wrap;
    width: 150px;
    
}
.circle{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 0.5 solid black;
}
.color-data-container{
    height: 100%;
    box-shadow: 5px 0 5px -5px #29627e;
}