<div class="color-data-container">
  <h4>Filters</h4>
  <b>Exterior Color</b>
  <div class="color-container">
    <div *ngFor="let colorData of exteriorColor" >
        <button id={{colorData.ID}} (click)="colorFilter(colorData.ID)" class="circle" [style.background-color]='colorData.SwatchHexCode.replace("0x","#")'>
        </button>
    </div>
  </div>
</div>