<div class="main-container">
  <div class="car-details-container">
    <app-car-images *ngIf="carData" carImageData = {{carData.ImageToken}} modelYear = {{carData.Model.Year}} modelName = {{carData.Model.ModelName}}></app-car-images>
    <app-car-data  *ngIf="carData" imageToken= {{carData.ImageToken}} modelYear = {{carData.Model.Year}} modelName = {{carData.Model.ModelName}} trimName = {{carData.Trim.Name}} price = {{carData.Pricing.MSRP}}></app-car-data>
  </div>
  <hr>
  <div class="car-details-container">
    <app-price-summary *ngIf="carData" basicMSRP = {{carData.Pricing.BaseMSRP}} totalOptions = {{carData.Pricing.Options}} destinationCharges = {{carData.Pricing.DestinationDeliveryCharge}} totalMSRP = {{carData.Pricing.MSRP}} netPrice = {{carData.Pricing.Invoice}}>
    </app-price-summary>
    <app-vehicle-details *ngIf="carData" engine = {{carData.NormalizeEngine}} driveTrain = {{carData.NormalizeDrive}} transmission = {{carData.NormalizeTransmission}} exteriorColor = {{carData.NormalizeExtPaint}} interiorColor = {{carData.NormalizeTrimType}}>
    </app-vehicle-details>
  </div>
</div>