.car-details-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}
.main-container{
    align-items: center;
    border-bottom: 1px solid black;
}
.main-container hr{
    width:  80%;
}
.main-container app-car-data{
    font-size: 25px;
}