<div>
    <p><b>Engine: </b>{{engine}}</p>
    <p><b>Drive Train: </b>{{driveTrain}}</p>
    <p><b>Transmission: </b>{{transmission}}</p>
    <p><b>Exterior Color: </b>{{exteriorColor}}</p>
    <p><b>Interior Color: </b>{{interiorColor}}</p>
</div> 