.car-card-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.card-list-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 250px;
    align-items: center;
    height: 280px;
}
.card-list-container hr{
    width: 100%;
}
.car-image{
    height: 100px;
    width: 150px;
}
.car-list-container-btn{
    background-color: aqua;
    color:white;
    height:30px;
    border: none;
}
.car-list-main-container{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}