<div class="car-list-main-container">
  <h3>Dashboard</h3>
  <div class="car-card-container">
    <div *ngFor="let carData of carDetails" class="card-list-container">
      <div  *ngIf='carData.MatchType=="Exact"'>
          <img class="car-image" [src]=prefixUrl+carData.Model.ModelName+imgUrl+carData.Model.Year+midUrl+carData.ImageToken+suffixUrl>
          <p class="car-name">{{ carData.Model.Year }}{{ carData.Model.ModelName }}{{ carData.Trim.Name }}</p>
          <hr>
          <p class="car-price"><b>Net Price: {{ carData.Pricing.MSRP }}</b></p>
          <p class="car-vin">Vin:{{ carData.Vin }} </p>
          <button class="car-list-container-btn" (click)="carDetailsPage(carData.Vin)">View Details</button>
      </div>
    </div> 
  </div>
</div>