<div>
  
      <p><b>Base MSRP: </b>{{basicMSRP}}</p>
      <p><b>Total Of Options: </b>{{totalOptions}}</p>
      <p><b>Destination Charges: </b>{{destinationCharges}}</p>
      <p><b>Total MSRP: </b>{{totalMSRP}}</p>
      <p><b>Net Price: </b>{{netPrice}}</p>

</div>