<app-header></app-header>
<router-outlet>
</router-outlet>

    <!-- <app-dashboard></app-dashboard> -->
    <!-- <app-filter></app-filter>
    <app-car-card-list></app-car-card-list> -->

<app-footer></app-footer>
