
<div>
  <p><b> {{modelYear}} {{modelName}} {{trimName}} </b></p>
  <p><b>Price: {{price}} </b></p>
  <app-internet-price imageToken = {{imageToken}} modelYear = {{modelYear}} modelName = {{modelName}}></app-internet-price>
</div>

