<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Get An Internet Price</h4>
    
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div>
    <img class="form-image" [src]=prefixUrl+modelName+imgUrl+modelYear+midUrl+imageToken+suffixUrl>
    {{modelYear}} {{modelName}}
  </div>
  <h4>Contact Information</h4>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="First">First Name</label>
        <div class="input-group">
          <input type="text">
        </div>
        <label for="Last">Last Name</label>
        <div class="input-group">
          <input type="text">
        </div>
        <label for="Email">Email </label>
        <div class="input-group">
          <input type="email">
        </div>
        <label for="Zip">Zip Code </label>
        <div class="input-group">
          <input type="number">
        </div>
        <label for="Phone">Phone Number </label>
        <div class="input-group">
          <input type="number">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Submit</button>
    <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Cancel</button>
  </div>
</ng-template>
<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Get An Internet Price</button>
<hr>